@tailwind base;
@tailwind components;
@tailwind utilities;

// ensuite tu peux ajouter ton propre SCSS ici :
body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(135, 178, 243);
}

h2{
  color: rgb(99, 99, 99);
}